.bottom
  .white_bottom
    .left_side
      input.mouseP(type="text")
      .top_sq
      .bottom_sq
      .shoe
        .left_btn ❰
        .shoe_img
          img.imgR(src="https://dl.dropbox.com/s/zj3p16de62wt8gv/shoeR.png?dl=0")
          img.imgW(src="https://dl.dropbox.com/s/shb10c7em9ja96v/shoeW.png?dl=0")
          
        .right_btn ❱
        
      .switch
        .switch1.th_shoe
        .switch2
      .icon
        .back
          svg(viewbox='0 2 50 50')
            circle(cx='25.906', cy='27.496', r='19.121')
            polyline(points='24.5,34.157 17.053,27.341 24.5,20.525 ')
            line(x1='17.053', y1='27.341', x2='35.237', y2='27.468')
        .cart#cartIcon
          svg(viewbox='0 0 50 50')
            path(d='M22.822,28.96')
            polyline(points='15.289,18.241 17.591,18.528 21.689,30 30.228,30 32.208,22.262 18.891,22.325 ')
            circle.w(cx='28.472', cy='32.31', r='0.996')
            circle.w(cx='23.257', cy='32.31', r='0.996')
            circle(cx='24.804', cy='25.496', r='19.121')
          .RTnumber
    .right_side
      .info
        .sname &nbspSkate Shoes
         .name Roshe&nbsp
          b Walk
        .price NT$ 8,700
      .deco       
      .detail
        .qua
          .text
            .word Quantity:&nbsp
            .count 1
          .counter
            .sub -
            .num 1
            .add +
        .color
          .text
            .word Color:&nbsp 
            .this_color
          .color_group
            .c1 Maroon
            .c2 Ivory
        .size
          .text
            .this_size Size:&nbsp
            .size_num
          ul
            li 7
            li 7.5
            li 8
            li 8.5
            li 9
            li 9.5
            li 10
            li 10.5  
      button#addTOCart 
        svg(viewbox='0 0 50 50')
          path(d='M22.822,28.96')
          polyline(points='15.289,18.241 17.591,18.528 21.689,30 30.228,30 32.208,22.262 18.891,22.325 ')
          circle.w(cx='28.472', cy='32.31', r='0.996')
          circle.w(cx='23.257', cy='32.31', r='0.996')
        h1 Add to Cart
        
  .cart_bottom
    .cart_list
      .close_btn ✖
      .title
        .cart_icon 
            svg(viewbox='0 0 50 50')
                path(d='M22.822,28.96')
                polyline(points='15.289,18.241 17.591,18.528 21.689,30 30.228,30 32.208,22.262 18.891,22.325 ')
                circle.w(cx='28.472', cy='32.31', r='0.996')
                circle.w(cx='23.257', cy='32.31', r='0.996')
        h2 Your Cart
      .list
        .cart_cat
          .desT Description
          .colorT Color
          .sizeT size
          .QTYT QTY
          .priceT Price
        ul
      .total
        .totalT Total:
        .totalP NT$ 21600
      .checkout
        button.cancel Cancel
        button Checkout
.roomRec
  .recbottom
  img(src="")
  
  

      